body {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
}

a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

a:hover {
  color: red;
}

p {
  font-weight: 300;
}
